.table {
  .row {
    opacity: 1;
    transition: 0.3s;
  }
  .cdk-drag-placeholder {
    opacity: 0;
    transition: 0.5;
  }
}

.cell {
  border: 1px solid lightgray;
  background: white;
}

.header-cell {
  padding: 8px;
}

.drag-handler {
  cursor: grab;
}

::ng-deep {
  .row.cdk-drag-preview {
    opacity: 0.6;
    display: table;
  }

  .cell-inner-container {
    padding: 8px;
  }
}
